.sidebar {
   position: fixed;
   left: 0;
   top: 0;
   bottom: 0;
   background-color: gray;
   width: 225px;
   z-index: 200;
   padding-top: 5px;
 }
 
 .sidebar-box {
   margin-left: 10px;
   padding-top: 10px;
   padding-bottom: 10px;
   font-size: 18px;
   display: flex;
   align-items: center;
   background-color:ivory;
   margin-bottom: 5px;
   margin-right: 12px;
   border-radius: 5px;
   box-shadow: 0 0 10px rgba(255, 255, 255, 0.2);
   transition: all 0.1s ease-in-out;
 }
 
 .sidebar-box:hover {
   transform: translateX(8px);
   box-shadow: 0 0 20px rgba(255, 255, 255, 0.4);
 }
 
 .sidebar-box:active {
   transform: scale(0.95);
   background-color: #004466;
   box-shadow: none;
   opacity: 0.8;
 }
 
 .Logo{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    padding-bottom: 30px;
    font-size: 25px;
    display: flex;
    align-items: center;
    margin-left: 10px;
 }

 .Nav-text{
    margin-left: 10px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 20px;
    margin-bottom: 5px;
    color: darkgreen;

  
 }

 .wallet{
    position: fixed;
    right: 0;
    top: 0;
    bottom: 0;
    margin-bottom: 650px;
    background-color: ivory;
    width:100px;
    z-index: 200;
    padding-top: 5px;

    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    padding-bottom: 30px;
    
    display: flex;
    align-items: center;
    margin-left: 10px;
 
 }

 .content{
    margin-left: 225px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 55px;
    font-weight: 600;
    
    align-items: center;
    text-align: center;
    
 }

 .add{   
    font-size: 24px;
    color: darkgreen;
 }

 .sponsor{
    font-weight: 600;
    font-family: Berlin Sans FB;
    font-size: 30px;   
 }



 a:link { text-decoration: none; }


a:visited { text-decoration: none; }


a:hover { text-decoration: none; }


a:active { text-decoration: none; }

body
{
   background-color: ivory;
}

